* {
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 95vh;
    background-image: url(../images/banner1.jpg);
    background-size: cover;
    background-position: center;
    background-blend-mode: darken;
    background-color: rgba(7, 7, 7, 0.619);
    text-align: center;

    nav {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1.5em;
        font-family: "Roboto";
        font-size: 14px;
        margin-top: 1em;

        .menu-1 {
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-top: 2px solid white;
            border-bottom: 2px solid white;
            width: 40vw;
            list-style: none;
            padding: 0;
            margin: 0;

            a {
                padding: 10px;
            }


        }

        .menu-2 {
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-top: 2px solid white;
            border-bottom: 2px solid white;
            width: 40vw;
            list-style: none;
            padding: 0;
            margin: 0;

            a {
                padding: 10px 10px;
            }


        }
    }

    .titre {
        margin-top: 5em;
        width: 50%;
        color: white;

        h1 {
            font-family: "Courgette";
            font-size: 2.6rem;

            .span-0 {
                font-size: 60px;
            }

            .span-1,
            .span-3,
            .span-2 {
                font-size: 60px;
            }

            .span-1 {
                color: #b1293a;
            }

        }

        .botone {
            margin-top: 3em;
            display: flex;
            justify-content: center;
            gap: 20px;

            a {
                border-radius: 25px;
                font-size: 0.8rem;
                padding: 15px 30px;
                text-decoration: none;
            }

            .btnL {
                color: #000;
                background-color: white;
            }

            .btnR {
                color: white;
                background-color: #b1293a;
            }
        }
    }


}

@media (max-width:770px) {
    nav {
        font-size: 10px !important;
    }

}

@media (max-width:426px) {
    nav {
        margin-top: 20px;
        flex-direction: column;
        gap: 0.5em !important;


        ul {
            width: 80vw !important;                     
        }

        .logo {
            img {
                height: 50px  !important;
                height: 50px  !important;
            }
        }
    }
    .titre {
        margin-top: 1em !important;
        width: 80% !important;

        h1 {
            font-family: "Courgette";
            font-size: 20px;

            .span-0 {
                font-size: 25px;
            }

            .span-1,
            .span-3,
            .span-2 {
                font-size: 25px;
            }
        }
    
    }




}